:root {
  /* 
      Mobile Version: 375px;
      Desktop Version: 1440px;
  */

  /* PRIMARY COLORS */

  --clr-primary-soft-red: hsl( 7, 99%, 70% );
  --clr-primary-yellow: hsl( 51, 100%, 49% );
  /* Graphic design text */
  --clr-primary-dark-desaturated-cyan: hsl( 167, 40%, 24% );
  /* Photography text */
  --clr-dark-blue: hsl( 198, 62%, 26% );
  /* Footer */
  --clr-dark-moderate-cyan: hsl( 168, 34%, 41% );

  /* NEUTRAL COLORS */

  --clr-neutral-dark-desaturated-blue: hsl( 212, 27%, 19% );
  --clr-neutral-very-grayish-blue: hsl( 213, 9%, 39% );
  --clr-neutral-dark-grayish-blue: hsl( 232, 10%, 55% );
  --clr-neutral-grayish-blue: hsl( 210, 4%, 67% );
  --clr-neutral-white: hsl( 0, 0%, 100% );

  /* FONTS */
  
  --ff-barlow: 'Barlow', sans-serif;
  --ff-fraunces: 'Fraunces', serif;

  /* FONT WEIGHTS */

  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;

}


/* CSS RESETS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

/* 
  Typographic tweaks!
  - Add accessibility Line-Height
  - Improve yexy rendering
*/

body {
 line-height: 1.7;
 -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */

img,
picture,
video,
canvas,
svg {
 display: block;
 max-width: 100%;
}

/* Remove built in form typography */

input,
button,
textarea,
select {
 font: inherit;
}

/* Avoid text overflow */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
 overflow-wrap: break-word;
}

header {
  background-image: url(./images/desktop/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 97vh;
}

.wrapper {
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.5rem;
  margin-bottom: 5rem;
}

.navbar--nav {
  display: flex;
}

.nav--item {
  list-style: none;
  padding: 0 1rem;
}

.nav--link {
  text-decoration: none;
  color: var(--clr-neutral-white);
}

.active--link {
  background: var(--clr-neutral-white);
  color: black;
  font-family: var(--ff-fraunces);
  padding: 1rem;
  border-radius: 2rem;
}

.header--content {
  text-align: center;
}

.header--content > h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: var(--ff-fraunces);
  color: var(--clr-neutral-white);
  margin-bottom: 8rem;
}

.header--content > img {
  width: 2%;
  margin: 0 auto;
}

.hero--section {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transform > div {
  max-width: 25rem;
  margin: 0 auto;
}

.content > div > h1 {
  font-family: var(--ff-fraunces);
}

.content > div > p {
  font-family: var(--ff-barlow);
  color: var(--clr-neutral-grayish-blue);
}

.content > div > a {
  text-decoration: none;
  font-family: var(--ff-fraunces);
  color: black;
  text-transform: uppercase;
  font-weight: var(--fw-600);
}

.standOut {
  max-width: 28rem;
  margin: 0 auto;
}

.transform--img {
  padding: 0;
}

.standout--img {
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.design--section {
  padding: 0;
  position: relative;
}

.design--section > div {
  text-align: center;
}

.design--info {
  position: absolute;
  text-align: center;
  width: 23rem;
  top: 65%;
  left:  30%;
}

.info > h2 {
  font-family: var(--ff-fraunces);
}

.info > p {
  font-family: var(--ff-barlow);
}

.photography--section {
  padding: 0;
  position: relative;
}

.photography--info {
  position: absolute;
  text-align: center;
  width: 23rem;
  top: 65%;
  left: 30%;
}

.design--img {
  padding: 0;
}

.photography--img {
  padding: 0;
}

.photography--section > div {
  text-align: center;
}

.testimonies {
  display: flex;
  align-items: center;
  justify-content: center;
}


.testimonies--section {
  text-align: center;
  margin: 5rem 0;
}

.testimonies--section > h1 {
  font-family: var(--ff-fraunces);
  text-transform: uppercase;
  color: var(--clr-neutral-grayish-blue);
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  margin: 3rem 0;
}

.testimony--img {
  width: 20%;
  border-radius: 50%;
  margin: 3rem auto;
}

.testimony {
  max-width: 20rem;
  margin: 0 1rem;
}

.testimony > p {
  font-family: var(--ff-barlow);
  margin-bottom: 2.5rem;
}

.testimony > p > span {
  color: var(--clr-neutral-grayish-blue);
}

h4 {
  font-family: var(--ff-fraunces);
}

.gallery--img {
  padding: 0;
}

footer {
  background: var(--clr-dark-moderate-cyan);
  padding: 5rem 0;
}

.footer--section {
  text-align: center;
}

.footer--section > p {
  font-size: 2rem;
  color: var(--clr-primary-dark-desaturated-cyan);
  font-weight: var(--fw-900);
}

.footer--links > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer--links > ul > li {
  padding: 2rem;
}

.footer--links > ul > li > a {
  text-decoration: none;
  color: var(--clr-primary-dark-desaturated-cyan);
  font-weight: var(--fw-600);
}

.socials {
  display: flex;
  justify-content: center;
}

.socials > div {
  margin: 0 1rem;
}

.facebook, .instagram, .twitter, .pinterest {
  width: 1.5%;
}