@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700;900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-image: url(./images/desktop/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    header {
        background-image: url(./images/mobile/image-header.jpg);
    }
}